/server/_build
/server/cover
/server/deps
/server/doc
/server/.fetch
erl_crash.dump
*.ez
*.beam
project-*.tar
/server/config/*.secret.exs
.elixir_ls/
/server/priv/static/

*.sh
/web-ui/node_modules/
/web-ui/build
/web-ui/coverage
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.secrets.js